*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    height: 20%;
}

h1{
    color:hwb(0 100% 0%);
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    background: url("https://images.unsplash.com/photo-1667835949430-a2516cc93d27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80") no-repeat center/cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(255, 0, 0);
    padding: 5px 0 5px 0 ;
    
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1,2px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    padding-bottom: 0px;
    border-bottom:  1px solid transparent;
    transition: .2s all;
    


}
nav a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    transition: .2s all;

}
nav img{
    width: 30px;

}
main{
    height: 60%;
    display: flex;
    align-items: start;
    gap: 5px;

}
main img{
    border-radius: 5px;
    height: 40%;
}
main p{
    font-family: sans-serif;
    line-height: 1.3;
}
footer{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    font-family: sans-serif;
    font-size: 1.5rem;
    color: white;
}